/* Global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e8d7;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #d4a373;
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Zone de Fouille */
#dig-zone {
    width: 60%;
    height: 500px;
    background-color: #c77f3c;
    position: relative;
}

#soil {
    width: 100%;
    height: 100%;
    background-image: url('assets/soil-texture.png');
    background-size: cover;
    border: 1px solid #d4a373;
    position: absolute;
}

/* Espace de stockage */
#storage-zone {
    width: 30%;
    padding: 10px;
    background-color: #f6f2e1;
    border: 2px dashed #d4a373;
    min-height: 500px;
}

.storage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Outils */
#tools {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100px;
    align-items: center;
}

.tool {
    cursor: pointer;
}

    .tool img {
        width: 50px;
        height: 50px;
    }

    .tool:hover {
        transform: scale(1.1);
        transition: transform 0.2s;
    }
